* {
  margin:0px;
  padding:0px;
}

body {
  font-family: Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a{
  text-decoration: none;
}

